:root {
  --black: hsla(0, 0%, 0%, 1);
  --xiketic: hsla(315, 30%, 8%, 1);
  --dark-purple: hsla(313, 55%, 18%, 1);
  --malachite: hsla(122, 83%, 49%, 1);
  --persian-rose: hsla(323, 97%, 56%, 1);
}

@font-face {
  font-family: Squada;
  src: url(font/squadaone-regular-webfont.woff2);
}

@font-face {
  font-family: Libre Baskerville;
  src: url(font/librebaskerville-regular-webfont.woff2);
}

* {
  padding: 0;
  margin-top: 0;
  font-family: Squada;
}

p {
  line-height: 170%;
  max-width: 30ch;
}

a {
  color: var(--black);
}

a:hover {
  color: var(--persian-rose);
}

.groben {
  color: var(--persian-rose);
}

#konkurrence {
  border-style: solid;
  border-width: 7px;
  border-color: var(--malachite);
}

p,
span,
div,
a,
li {
  font-family: Libre Baskerville;
}

img {
  width: 100%;
  height: 100%;
}

.ikon {
  width: 40px;
  display: flex;
  justify-self: center;
}

#burger_closed {
  background-image: url(ikoner/burger.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 50;
}

#burger_opened {
  background-image: url(ikoner/krys.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  display: none;
  position: relative;
  z-index: 50;
}

#hamburger {
  position: fixed;
  z-index: 50;
  top: 2%;
  left: 92%;
}

.burger_menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 50;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.burger_menu li {
  display: flex;
  justify-content: center;
}

.burger_menu a {
  display: grid;
  text-decoration: none;
  font-size: 1rem;
  align-content: center;
}

.showMenu {
  transform: translateY(0%);
}

li {
  background-color: inherit;
}

#logo img {
  width: 50px;
}

header {
  padding: 20px;
}

h1 {
  font-size: 3rem;
}

#arrow_left,
#arrow_right {
  aspect-ratio: 740/415;
  width: 40px;
}

#separator {
  width: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#img_galleri {
  border-style: solid;
  border-width: 7px;
  border-color: var(--persian-rose);
}

#konkurrence {
  padding: 15px;
}

#section_3 {
  display: grid;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#konku_img {
  margin-top: 20px;
  border-style: dotted;
  border-width: 3px;
  border-color: var(--persian-rose);
}

.pic1 {
  background-image: url(pics/kampagne/pic1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.pic2 {
}

footer img {
  width: 30px;
}

.footer_div {
  padding-top: 30px;
  display: grid;
  place-content: center;
}

.so_me {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

footer span {
  max-width: 15ch;
}

footer {
  margin-top: 20px;
  border-top: 5px solid hsla(122, 83%, 49%, 1);
}

ul {
  list-style: none;
}

@media (min-width: 600px) {
  #hamburger {
    display: none;
  }

  .burger_menu {
    transform: translateY(0);
  }

  .burger_menu a {
    font-size: 1rem;
  }

  .burger_menu {
    padding: 0;
    position: inherit;
    display: block;
    transform: translateY(0%);
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  p {
    width: 40ch;
  }

  #logo {
    width: 30%;
    display: block;
  }

  h1 {
    font-size: 6.5rem;
    position: fixed;
    top: 15%;
    left: 45%;
  }

  #section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }

  #section_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #link {
    grid-row: 2;
  }

  #section_2 figure {
    display: flex;
  }

  #arrow_left,
  #arrow_right {
    aspect-ratio: 740/415;
    width: 80px;
  }

  #separator {
    width: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #img_galleri {
    border-style: solid;
    border-width: 7px;
    border-color: var(--persian-rose);
  }

  .nyeste_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  header {
    padding: 20px;
    padding-bottom: 250px;
  }

  #logo {
    width: 40px;
  }

  footer {
    display: flex;
    justify-content: space-around;
  }

  footer img {
    display: block;
    width: 50px;
  }

  footer div {
    display: grid;
    grid-template-rows: 1fr;
  }

  .so_me {
    display: flex;
  }
}
